@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Manrope", sans-serif;
}

$light: #ffffffff;
$gray: rgb(88, 88, 88);

.navbar {
  background-color: $light;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
}




.flex {
  display: flex;
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  background-color: $light;
  border-right: 1px solid $gray;


  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}
